<p-menubar styleClass="rounded-none menu-bar" [model]="items">
  <ng-template pTemplate="start">
    <i class="pi pi-apple px-3"></i>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="icon-container flex gap-4">
      <i class="pi pi-wifi flex justify-items-center items-center"></i>
      <div class="date-time-container flex gap-2">
        <span>{{ dateTimeNow | date : "EEE d MMM" }}</span>
        <span>{{ dateTimeNow | date : "hh:mm" }}</span>
      </div>
    </div>
  </ng-template>
</p-menubar>
